#fullProduct{
	display:flex;
	gap:10%;
	margin-left: 20%;
	margin-top:2%;
	& > *{
		width:33%;
	}
	img{
		width:275px;
		height:340px;
	}
	#info{
		h1:first-child{
			max-width:300px;
			margin-bottom:10%;
		}
		li{
			margin-right:0;
			margin-bottom:5%;
			font-size:x-large;
		}
		ul{
			margin-left:5%;
		}
	}
	#shipping{
		select{
			border-radius:30%;
			background-color:var(--logo-color);
			color:var(--leading-color-alt);
			color:white;
			font-size:large;
			padding:2%;
			appearance: none;
			outline: none;
			text-align:center;
		}
		button{
			padding:2%;
			background-color:var(--logo-color);
			border-radius:10px;
			color:var(--leading-color-alt);
			font-size:15px;
		}
		img{
		//	filter:invert(var(--inverted));
			filter:invert(1);
			height:50px;
			width:50px;
			margin-right:20px;
		}
		span{
			align-items:center;
		}	
		span:first-child{
			transform:scale(1.5);
			margin-bottom:100px;
		}
	}
}
#break{
	display:flex;
	justify-content: center;
	hr{
		width: 95%;
		height: 1px;
		background-color: var(--leading-color-alt);
	}
	margin:5% 0;
}
#desc{
	display:flex;
	justify-content:center;
	p{
		width:70%;
		font-size:20px;
	}
}
